<!-- Styles for garment and threads item selection -->
<style>
  .garment_corner-wrap, .threads_corner {
    position: absolute;
    z-index: 1000; /* Adjust if necessary to ensure it stays on top */
    transition: top 0.7s cubic-bezier(0.19, 1, 0.22, 1), left 0.7s cubic-bezier(0.19, 1, 0.22, 1); /* Out-expo transition */
  }

  .img.is-garment, .img.is-threads {
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1); /* Out-expo transition for opacity */
  }

  .garment_item, .threads_img {
    transition: box-shadow 0.6s cubic-bezier(0.19, 1, 0.22, 1), border-color 0.6s cubic-bezier(0.19, 1, 0.22, 1); /* Out-expo transition for box-shadow and border-color */
    border: 1px solid rgba(87, 85, 88, 0.3); /* Initial border color with 30% opacity */
  }

  .garment_item.active, .threads_img.active {
    border-color: rgba(87, 85, 88, 1); /* Border color at 100% opacity for the active state */
  }

  .garment_item.inner-shadow, .threads_corner.inner-shadow {
    box-shadow: inset 0px 0px 10px rgba(240, 235, 229, 0.3); /* Reduced blur and opacity for a more subtle effect */
  }

  .paragraph.is-support-medium {
    opacity: 0.5; /* Default opacity for paragraphs */
    transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1); /* Out-expo transition for opacity */
  }

  .paragraph.is-support-medium.active {
    opacity: 1; /* Full opacity for the active paragraph */
  }

  .paragraph.is-support-medium::before {
    content: "";
  }

  .paragraph.is-support-medium.active::before {
    content: "›  "; /* Add an extra space after the character */
    font-size: 2vw; /* Adjust the size of the "›" character */
  }
</style>
